* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fire Sans', sans-serif;
}

:root {
    --primary-color: rgba(108, 230, 108, 0.914);
    --secondary-color: rgb(34, 65, 34);
    --tertiary-color: #707793;

}

/* SIDEBAR */

.sidebar {
    background: linear-gradient(300deg, var(--primary-color), rgb(68, 237, 155), rgb(125, 247, 95));
    height: 100%;
    position: fixed;
    width: 150px;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

.sidebar .menu .menu-item a {
    color: black;
    text-decoration: none;
    transition: 0.2 linear;
    width: 100%;
    text-align: start;
}


.sidebar .menu .menu-item a:hover,
.sidebar .menu .menu-item a.is-active {
    color: var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    font-weight: bold;
}

.sidebar.close {
    width: 60px;
}

.sidebar .item {
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.sidebar.close .item {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

.sidebar.close~.content {
    left: 60px;
    width: calc(100% - 80px);
}

.sidebar.close h3 {
    display: none;
    pointer-events: none;
    transition-delay: 0s;
}

/* TOGGLE */
.menu-toggle {
    width: 60px;
    height: 60px;
    border-radius: 99px;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: var(--secondary-color);
    transition-duration: .25s;
}

.hamburger>span::before {
    content: '';
    top: -8px;
}

.hamburger>span::after {
    content: '';
    top: 8px;
}

.menu-toggle.is-active .hamburger>span {
    transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
    top: 0;
    transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
    top: 0;
    transform: rotate(90deg);
}