/* CONTENT */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: black;
}

::-webkit-scrollbar {
    width: 0;
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, rgb(6, 239, 157), rgb(205, 233, 91));
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-roatate(360deg);
    }
}

.content h1 {
    font-size: 3.5rem;
}

.content p,
.content li {
    color: var(--tertiary-color);
    /* text-align: justify; */
    font-size: 0.9rem;
}

.content {
    color: white;
    position: relative;
    height: 100%;
    left: 150px;
    width: calc(100% - 170px);
    transition: all 0.5s ease;
}

.material-symbols-rounded {
    vertical-align: sub;
}

.social li {
    list-style: none;
}

.header_my_page {
    background-image: url('../../../img/photo-header.png');
    height: 300px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.title {
    color: rgb(12, 235, 12);
}

.elegante {
    background-image: url('../../../img/chi_sono/elegante.jpeg');
}

.vino {
    background-image: url('../../../img/chi_sono/vino.jpeg');
}

.pc {
    background-image: url('../../../img/chi_sono/pc.jpeg');
}

.jump {
    background-image: url('../../../img/chi_sono/jump.jpeg');
}

.lidl {
    background-image: url('../../../img/chi_sono/lidl.jpeg');
}

.lidl_mascherina {
    background-image: url('../../../img/chi_sono/lidl_mascherina.jpeg');
}

.parapendio {
    background-image: url('../../../img/chi_sono/parapendio.jpeg');
}

.box {
    width: 100%;
    height: 100%;
    background-repeat: no repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    border: 1px solid white;
}

.img {
    height: 200px;
    width: 200px;
    border: 3px solid var(--primary-color);
    padding: 10px;
    margin: 5px;
}

.square {
    width: 30px;
    height: 30px;
    border: 4px solid var(--primary-color);
}

.margin-r {
    border-right: 2px solid var(--primary-color);
}

.box-work {
    margin: auto;
}

.box {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.box img {
    transition: all 0.3s;
    display: block;
    transform: scale(1);
    height: auto;
}

.box:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.box-work span {
    font-family: monospace
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    background-color: black;
    border: 1px solid white;
}